* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #2C3E50;
    color: #FFCD29;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #677A91;
    color: #FFCD29;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
  }
  
  #logo {
    position: absolute;
    left: 20px;
    height: 80px; 
  }
  
  nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  nav a {
    color: #FFCD29;
    text-decoration: none;
    padding: 0 10px;
    line-height: 70px;
  }
  
  #burgerMenu {
    display: none; 
    cursor: pointer;
    font-size: 24px; 
    background: none;
    border: none;
    color: #FFCD29;
    position: absolute;
    right: 20px; 
    top: 20px; 
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  #welcome-section h1 {
    color: #FFCD29;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #welcome-section p {
    color: #FFFFFF; 
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  #playButton {
    background-color: #677A91;
    color: #FFCD29;
    border: none;
    padding: 10px 20px;
    margin-top: 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  footer {
    background-color: #677A91;
    color: #FFCD29;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
  }
  
  footer
  a {
  color: #FFCD29;
  text-decoration: none;
  margin: 0 20px; 
  padding: 0.5em 1em; 
  white-space: nowrap;
  }
  
  @media (max-width: 768px) {
  #burgerMenu {
  display: block; 
  }
  
  nav {
  position: fixed; 
  top: 70px; 
  right: 0; 
  background-color: rgba(103, 122, 145, 0.193); 
  display: none; 
  flex-direction: row;
  align-items: center; 
  z-index: 1000; 
  }
  
  nav a {
  padding: 10px 20px; 
  font-size: 16px; 
  color: #FFCD29; 
  text-decoration: none;
  display: inline-block; 
  text-align: center;
}
  
  .nav-active {
  display: flex;
  justify-content: flex-end; 
  }
  
  footer {
  flex-wrap: wrap; 
  justify-content: center; 
  }
  
  footer a {
  margin: 10px; 
  padding: 0.5em;
  }
  }


#scoreboard {
  width: 80%; 
  margin: 0 auto; 
  max-width: 1200px; 
}

#scoreboard h2 {
  text-align: center;
  margin-bottom: 1em;
}

#scoreboard table {
  width: 100%; 
  border-collapse: collapse;
  table-layout: fixed; 
}

#scoreboard th, #scoreboard td {
  color: #2C3E50; 
  border: 1px solid #2C3E50; 
  text-align: center;
  padding: 10px;
  background-color: #FFFFFF;
}

#scoreboard th, #scoreboard td {
  min-height: 50px; 
}

#bienvenue, .bienvenue {
    color: #FFFFFF; 
}
  
  body p {
    color: #FFFFFF; 
  }